<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Products</h4>
  </div>

  <div class="panel-body">
    <div><input type="text" placeholder="Filter Products" class="form-control" [(ngModel)]="filterBy"></div>
    <div class="alert alert-success" *ngIf="filterBy">{{filterBy}}</div>
    <table class="table" border="1px solid black;" *ngIf="products && products.length">
      <tr>
        <th><button class="btn btn-success" (click)="toggleImage()">
            {{ showHideImage ? "Hide Image" : "Show Image"}}
          </button>
        </th>
        <th>Product name </th>
        <th>Product Code </th>
        <th>Price </th>
        <th>Release </th>
        <th>Rating </th>
      </tr>
      <tr *ngFor="let product of products | products:filterBy"  >
        <td>
          <img [src]="product.imageUrl" style="width:60px" *ngIf="showHideImage" />
        </td>
        <td>{{product.productName}}</td>
        <td>{{product.productCode}}</td>
        <td>{{product.price}}</td>
        <td>{{product.releaseDate}}</td>
        <td>{{product.starRating}}</td>
      </tr>
    </table>
  </div>
</div>